Index:
  StandardLibrary: Yes
CompileFlags:
  Add: [-Wall, -Wvla]
Diagnostics:
  ClangTidy:
    Add: [bugprone*, cert*, concurrency*, cppcoreguidelines*, misc*, modernize*, performance*]
    FastCheckFilter: Strict

---
If:
  PathMatch: [.*\.c$]
CompileFlags:
  Add: -xc
Diagnostics:
  ClangTidy:
    Remove: "*cpp*"

---
If:
  PathMatch: [.*\.h$]
CompileFlags:
  Add: -xc-header
Diagnostics:
  ClangTidy:
    Remove: "*cpp*"

---
If:
  PathMatch: [.*\.c(c|xx|pp)$]
CompileFlags:
  Add: -xc++

---
If:
  PathMatch: [.*\.h(h|xx|pp)$]
CompileFlags:
  Add: -xc++-header
