Index:
  StandardLibrary: Yes
CompileFlags:
  Add: [-Wall, -Wvla]
Diagnostics:
  ClangTidy:
    Add: "*"

---
If:
  PathMatch: [.*\.c$]
CompileFlags:
  Add: -xc

---
If:
  PathMatch: [.*\.h$]
CompileFlags:
  Add: -xc-header

---
If:
  PathMatch: [.*\.c(c|xx|pp)$]
CompileFlags:
  Add: -xc++

---
If:
  PathMatch: [.*\.h(h|xx|pp)$]
CompileFlags:
  Add: -xc++-header
