[Unit]
Description=The localsend daemon
BindsTo=graphical-session.target
After=network-online.target nftables.service iptables.service graphical-session.target xdg-desktop-autostart.target

[Service]
Type=simple
ExecStart=/usr/bin/localsend --hidden
Restart=on-abnormal
RestartSec=3

[Install]
WantedBy=graphical-session.target
